{% extends 'base.html.twig' %}

{% block header %}
    <div class="jumbotron text-center">
        <h1>KeyProSol</h1>
        <h2>The Universal Key lost Problem Solution</h2>
    </div>
    <nav>
        {% block nav %}{% endblock %}
    </nav>
{% endblock %}

{% block footer %}
    <p> Site réalisé par BEFVE Loïc</p>
{% endblock %}