{% extends 'base.html.twig' %}

{% block nav %}
    <nav class="navbar navbar-inverse">
        <ul class="nav navbar-nav">
            <li><a href="{{ path('home_page') }}">Home</a></li>
            <li><a href="{{ path('trouve_page') }}">J'ai trouvé</a></li>
            <li><a href="{{ path('perdu_page') }}">J'ai perdu</a></li>
            <li class="active"><a href="{{ path('enregistre_page') }}">Je m'enregistre</a></li>
        </ul>
    </nav>
{% endblock %}
