{% extends 'base.html.twig' %}

{% block body %}
    <h1>KeyProSol</h1>
    <button type="button"> J'ai perdu !</button>
    <button type="button"> J'ai trouvé !</button>
    <button type="button"> Je m'enregistre</button>
{% endblock %}