{% extends 'services/base_service.html.twig' %}

{% block main %}

    <a href={{ path('perdu_page') }}>
        <button type="button" > J'ai perdu !</button>
    </a>
    <a href={{ path('trouve_page') }}>
        <button type="button"> J'ai trouvé !</button>
    </a>
    <a href="{{ path('enregistre_page') }}">
        <button type="button"> J'enregistre un produit</button>
    </a>
{% endblock %}